body {
  padding-left: calc((100vw - 1190px) / 2);
  padding-right: calc((100vw - 1190px) / 2);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // https://stackoverflow.com/questions/13550541/media-min-width-max-width
  @media only screen and (min-width: 960px) {
    padding: 12px;
  }
  @media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
  }
  @media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
  }
  @media only screen and (max-device-width: 480px) {
    padding: 12px;
  }
  @media only screen and (device-width: 768px) {
    /* default iPad screens */
  }
  /* different techniques for iPad screening */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    padding: 12px;
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    padding: 12px;
  }
}

img {
  align-items: center;
  background-repeat: no-repeat;
}

mark {
  background: #fffc76;
  padding: 0 5px;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 40px 0;
  padding: 5px 30px;
  background: rgb(86, 230, 182);
}

iframe {
  margin: 45px 0 !important;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}

time {
  color: #555;
}

code,
pre,
.code,
.footnotes {
  font-family: SFMono-Regular, SF Mono, Consolas, Monaco, Menlo, monospace;
  font-size: medium;
}
code {
  font-family: SFMono-Regular, SF Mono, Consolas, Monaco, Menlo, monospace;
  color: #d4523a;
  // color: #2ed4b9;
  background: #eee;
  padding: 2px 6px;
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  transition: color 250ms linear 0s;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  code {
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;
  thead {
    background: #f2f2f2;
  }
  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #fff;
  }
  td {
    padding: 4px 0;
  }
}
iframe {
  width: 100%;
}
article {
  line-height: 16px;
  font-weight: 300;
  word-wrap: break-word;
  p {
    word-wrap: break-word;
  }
  a {
    font-weight: 500;
  }
  a:hover {
    color: #d4523a;
    border-color: #d4523a;
  }
}

.page-navigation,
.footer {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1rem;
}
.page-navigation {
  margin: 50px auto 0 auto;
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
  }
  span {
    display: inline-block;
  }
}
.footer {
  margin-top: 50px;
  color: #777;
  a {
    border: none;
    font-weight: bold;
  }
}
